src/flows/Ter_CalcularCalificacionPilarCalidadInfraestructura-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Asignar_Calificaci_n_Pilar_Calidad_Infraestructura</name>
        <label>Asignar Calificación Pilar Calidad Infraestructura</label>
        <locationX>935</locationX>
        <locationY>418</locationY>
        <assignmentItems>
            <assignToReference>ActaEncuestaObjeto.Ter_Calif_pilar_Calidad_infraestructu2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalificacionPilarCalidadInfraestructura</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Acta_Encuesta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_Contar_NA_1</name>
        <label>Sumar Contar NA 1</label>
        <locationX>987</locationX>
        <locationY>169</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mantenimiento_Tanques_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_1</name>
        <label>Sumar ContarA 1</label>
        <locationX>655</locationX>
        <locationY>397</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mantenimiento_de_Tanques_con_Valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_2</name>
        <label>Sumar ContarA 2</label>
        <locationX>657</locationX>
        <locationY>263</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Forro_Pistolas_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarC_1</name>
        <label>Sumar ContarC 1</label>
        <locationX>277</locationX>
        <locationY>176</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Mantenimiento_de_Tanques_igual_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarC_2</name>
        <label>Sumar ContarC 2</label>
        <locationX>273</locationX>
        <locationY>308</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Forro_Pistolas_con_Valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_2</name>
        <label>Sumar ContarNA 2</label>
        <locationX>983</locationX>
        <locationY>287</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Calificaci_n_Pilar_Calidad_Infraestructura</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Forro_Pistolas_con_Valor</name>
        <label>Forro Pistolas con Valor</label>
        <locationX>457</locationX>
        <locationY>401</locationY>
        <defaultConnector>
            <targetReference>Mantenimiento_de_Tanques_con_Valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Forro Pistolas con Valor No</defaultConnectorLabel>
        <rules>
            <name>Forro_Pistolas_con_Valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Forro_pistolas__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_1</targetReference>
            </connector>
            <label>Forro Pistolas con Valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Forro_Pistolas_igual_C</name>
        <label>Forro Pistolas igual C</label>
        <locationX>67</locationX>
        <locationY>176</locationY>
        <defaultConnector>
            <targetReference>Mantenimiento_de_Tanques_igual_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Forro_Pistolas_igual_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Forro_pistolas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarC_1</targetReference>
            </connector>
            <label>Forro Pistolas igual C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Forro_Pistolas_igual_NA</name>
        <label>Forro Pistolas igual NA</label>
        <locationX>807</locationX>
        <locationY>167</locationY>
        <defaultConnector>
            <targetReference>Mantenimiento_Tanques_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Forro Pistolas igual NA No</defaultConnectorLabel>
        <rules>
            <name>Forro_Pistolas_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Forro_pistolas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_Contar_NA_1</targetReference>
            </connector>
            <label>Forro Pistolas igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mantenimiento_de_Tanques_con_Valor</name>
        <label>Mantenimiento de Tanques con Valor</label>
        <locationX>459</locationX>
        <locationY>248</locationY>
        <defaultConnector>
            <targetReference>Forro_Pistolas_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mantenimiento de Tanques con Valor No</defaultConnectorLabel>
        <rules>
            <name>Mantenimiento_de_Tanques_con_Valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Mantenimiento_de_tanques__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_2</targetReference>
            </connector>
            <label>Mantenimiento de Tanques con Valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mantenimiento_de_Tanques_igual_C</name>
        <label>Mantenimiento de Tanques igual C</label>
        <locationX>63</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>Forro_Pistolas_con_Valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mantenimiento de Tanques igual C No</defaultConnectorLabel>
        <rules>
            <name>Mantenimiento_de_Tanques_igual_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Mantenimiento_de_tanques__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarC_2</targetReference>
            </connector>
            <label>Mantenimiento de Tanques igual C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Mantenimiento_Tanques_igual_NA</name>
        <label>Mantenimiento Tanques igual NA</label>
        <locationX>821</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>Asignar_Calificaci_n_Pilar_Calidad_Infraestructura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Mantenimiento Tanques igual NA No</defaultConnectorLabel>
        <rules>
            <name>Mantenimiento_Tanques_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Mantenimiento_de_tanques__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_2</targetReference>
            </connector>
            <label>Mantenimiento Tanques igual NA Si</label>
        </rules>
    </decisions>
    <description>Calcula la Calificación del Pilar de Calidad Infraestructura en una Acta de Gestión Ambiental</description>
    <formulas>
        <name>CalificacionPilarCalidadInfraestructura</name>
        <dataType>Number</dataType>
        <expression>({!ContarC}/({!ContarA}-{!ContarNA}))*5</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calificación  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calcular Calificación Pilar Calidad Infraestructura 1</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Acta_Encuesta</name>
        <label>Buscar Acta Encuesta</label>
        <locationX>71</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Forro_Pistolas_igual_C</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdActaEncuesta</elementReference>
            </value>
        </filters>
        <object>Ter_Acta_Encuesta__c</object>
        <outputReference>ActaEncuestaObjeto</outputReference>
        <queriedFields>Forro_pistolas__c</queriedFields>
        <queriedFields>Mantenimiento_de_tanques__c</queriedFields>
        <queriedFields>Ter_Comentarios_calidad_infraestructura__c</queriedFields>
        <queriedFields>Ter_Calif_pilar_Calidad_infraestructu2__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Acta_Encuesta</name>
        <label>Actualizar Acta Encuesta</label>
        <locationX>1113</locationX>
        <locationY>416</locationY>
        <inputReference>ActaEncuestaObjeto</inputReference>
    </recordUpdates>
    <startElementReference>Buscar_Acta_Encuesta</startElementReference>
    <variables>
        <name>ActaEncuestaObjeto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ter_Acta_Encuesta__c</objectType>
    </variables>
    <variables>
        <name>ContarA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContarC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContarNA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IdActaEncuesta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
