src/flows/Ter_CalcularCalificacionPilarAmbientalInfraestructura-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Asignar_Calificacion_Pilar_Ambiental_Infraestructura</name>
        <label>Asignar Calificación Pilar Ambiental Infraestructura</label>
        <locationX>1193</locationX>
        <locationY>1422</locationY>
        <assignmentItems>
            <assignToReference>ActaEncuestaObjeto.Ter_Califi_pilar_ambiental_infraestruct2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalificacionPilarAmbientalInfraFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Acta_Encuesta_Objeto</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_1_ContadorC1</name>
        <label>Sumar 1 ContadorC</label>
        <locationX>355</locationX>
        <locationY>172</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ValvulaImpactoIgualC</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContaC_6</name>
        <label>Sumar ContaC 6</label>
        <locationX>327</locationX>
        <locationY>796</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Caja_contenedora_de_bombas_igual_a_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_Contador_8</name>
        <label>Sumar Contador 8</label>
        <locationX>331</locationX>
        <locationY>1023</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pozo_de_monitoreo_igual_a_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_Contador_C5</name>
        <label>Sumar Contador C5</label>
        <locationX>331</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existencias_en_TdeGr_ZC_y_Caja_Toma_Mues_igual_a_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContadorC2</name>
        <label>Sumar ContadorC2</label>
        <locationX>347</locationX>
        <locationY>298</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Break_away_igual_a_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContadorC_7</name>
        <label>Sumar ContadorC 7</label>
        <locationX>319</locationX>
        <locationY>907</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Spill_Container_igual_a_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContadorC_9</name>
        <label>Sumar ContadorC 9</label>
        <locationX>327</locationX>
        <locationY>1167</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manejo_de_residuos_igual_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_1</name>
        <label>Sumar ContarA 1</label>
        <locationX>841</locationX>
        <locationY>1411</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valvula_de_impacto_c_Contiene_Valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_10</name>
        <label>Sumar ContarA 10</label>
        <locationX>801</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Caja_de_conteci_n_de_equipos_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_2</name>
        <label>Sumar ContarA 2</label>
        <locationX>827</locationX>
        <locationY>1196</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Break_away_Contiene_Valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_3</name>
        <label>Sumar ContarA 3</label>
        <locationX>819</locationX>
        <locationY>1026</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Locativos_zona_de_islas_Decreto_1521_Contiene_Valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_4</name>
        <label>Sumar ContarA 4</label>
        <locationX>835</locationX>
        <locationY>899</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tr_de_grasas_zona_comb_y_caja_toma_muest_Contiene_Valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_5</name>
        <label>Sumar ContarA 5</label>
        <locationX>823</locationX>
        <locationY>787</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existencias_en_TdeGr_ZC_y_Caja_Toma_Mues_Contiene_Valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_6</name>
        <label>Sumar ContarA 6</label>
        <locationX>815</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Caja_contenedora_de_bombas_Contiene_Valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_7</name>
        <label>Sumar ContarA 7</label>
        <locationX>819</locationX>
        <locationY>507</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Spill_Container_Contiene_Valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_8</name>
        <label>Sumar ContarA 8</label>
        <locationX>815</locationX>
        <locationY>402</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pozo_de_monitoreo_Contiene_Valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_9</name>
        <label>Sumar ContarA 9</label>
        <locationX>815</locationX>
        <locationY>286</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manejo_de_residuos_Contiene_Valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarC_10</name>
        <label>Sumar ContarC 10</label>
        <locationX>353</locationX>
        <locationY>1303</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Caja_de_conteci_n_de_equipos_con_Valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA4</name>
        <label>Sumar ContarNA4</label>
        <locationX>1259</locationX>
        <locationY>489</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tr_de_grasas_zona_comb_y_caja_toma_muest_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_1</name>
        <label>Sumar ContarNA 1</label>
        <locationX>1279</locationX>
        <locationY>103</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Valvula_de_impacto_igual_a_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_10</name>
        <label>Sumar ContarNA 10</label>
        <locationX>1247</locationX>
        <locationY>1303</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Calificacion_Pilar_Ambiental_Infraestructura</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_2</name>
        <label>Sumar ContarNA 2</label>
        <locationX>1273</locationX>
        <locationY>244</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Break_away_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_3</name>
        <label>Sumar ContarNA 3</label>
        <locationX>1281</locationX>
        <locationY>354</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Locativos_zona_de_islas_Decreto_1521_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_5</name>
        <label>Sumar ContarNA 5</label>
        <locationX>1249</locationX>
        <locationY>638</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Existencias_en_TdeGr_ZC_y_Caja_Toma_Mues_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_6</name>
        <label>Sumar ContarNA 6</label>
        <locationX>1261</locationX>
        <locationY>790</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Caja_contenedora_de_bombas_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_7</name>
        <label>Sumar ContarNA 7</label>
        <locationX>1261</locationX>
        <locationY>907</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Spill_Container_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_8</name>
        <label>Sumar ContarNA 8</label>
        <locationX>1243</locationX>
        <locationY>1027</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Pozo_de_monitoreo_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_9</name>
        <label>Sumar ContarNA 9</label>
        <locationX>1269</locationX>
        <locationY>1162</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manejo_de_residuos_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SumarContadorC3</name>
        <label>SumarContadorC3</label>
        <locationX>343</locationX>
        <locationY>424</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Locativos_Zona_de_Islas_Decreto_1521_igua_a_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SumarContadorC4</name>
        <label>SumarContadorC4</label>
        <locationX>335</locationX>
        <locationY>534</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Tr_Grasas_Zona_Comb_y_Caja_Toma_Mues_igual_a_C</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Break_away_Contiene_Valor</name>
        <label>Break away Contiene Valor</label>
        <locationX>559</locationX>
        <locationY>1034</locationY>
        <defaultConnector>
            <targetReference>Locativos_zona_de_islas_Decreto_1521_Contiene_Valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Break away Contiene Valor No</defaultConnectorLabel>
        <rules>
            <name>Break_away_Contiene_Valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Break_away__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_3</targetReference>
            </connector>
            <label>Break away Contiene Valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Break_away_igual_a_C</name>
        <label>Break away igual a C</label>
        <locationX>43</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>Locativos_Zona_de_Islas_Decreto_1521_igua_a_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Break away igual a CNo</defaultConnectorLabel>
        <rules>
            <name>Break_away_igual_a_CSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Break_away__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SumarContadorC3</targetReference>
            </connector>
            <label>Break away igual a CSi</label>
        </rules>
    </decisions>
    <decisions>
        <name>Break_away_igual_NA</name>
        <label>Break away igual NA</label>
        <locationX>1031</locationX>
        <locationY>361</locationY>
        <defaultConnector>
            <targetReference>Locativos_zona_de_islas_Decreto_1521_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Break away igual NA No</defaultConnectorLabel>
        <rules>
            <name>Break_away_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Break_away__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_3</targetReference>
            </connector>
            <label>Break away igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Caja_contenedora_de_bombas_Contiene_Valor</name>
        <label>Caja contenedora de bombas Contiene Valor</label>
        <locationX>553</locationX>
        <locationY>521</locationY>
        <defaultConnector>
            <targetReference>Spill_Container_Contiene_Valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Caja contenedora de bombas Contiene Valor No</defaultConnectorLabel>
        <rules>
            <name>Caja_contenedora_de_bombas_Contiene_Valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Caja_contenedora_de_bombas__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_7</targetReference>
            </connector>
            <label>Caja contenedora de bombas Contiene Valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Caja_contenedora_de_bombas_igual_a_C</name>
        <label>Caja contenedora de bombas igual a C</label>
        <locationX>37</locationX>
        <locationY>913</locationY>
        <defaultConnector>
            <targetReference>Spill_Container_igual_a_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Caja contenedora de bombas igual a C No</defaultConnectorLabel>
        <rules>
            <name>Caja_contenedora_de_bombas_igual_a_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Caja_contenedora_de_bombas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContadorC_7</targetReference>
            </connector>
            <label>Caja contenedora de bombas igual a C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Caja_contenedora_de_bombas_igual_NA</name>
        <label>Caja contenedora de bombas igual NA</label>
        <locationX>1023</locationX>
        <locationY>917</locationY>
        <defaultConnector>
            <targetReference>Spill_Container_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Caja contenedora de bombas igual NA No</defaultConnectorLabel>
        <rules>
            <name>Caja_contenedora_de_bombas_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Caja_contenedora_de_bombas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_7</targetReference>
            </connector>
            <label>Caja contenedora de bombas igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Caja_de_conteci_n_de_equipos_con_Valor</name>
        <label>Caja de conteción de equipos con Valor</label>
        <locationX>599</locationX>
        <locationY>1411</locationY>
        <defaultConnector>
            <targetReference>Valvula_de_impacto_c_Contiene_Valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Caja_de_conteci_n_de_equipos_con_Valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Caja_de_conteci_n_de_equipos__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_1</targetReference>
            </connector>
            <label>Caja de conteción de equipos con Valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Caja_de_conteci_n_de_equipos_igual_NA</name>
        <label>Caja de conteción de equipos igual NA</label>
        <locationX>1051</locationX>
        <locationY>105</locationY>
        <defaultConnector>
            <targetReference>Valvula_de_impacto_igual_a_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Caja de conteción de equipos igual NA No</defaultConnectorLabel>
        <rules>
            <name>Caja_de_conteci_n_de_equipos_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Caja_de_conteci_n_de_equipos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_1</targetReference>
            </connector>
            <label>Caja de conteción de equipos igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Caja_de_Contenci_n_de_equipos_igual_C</name>
        <label>Caja de Contención de equipos igual C</label>
        <locationX>49</locationX>
        <locationY>172</locationY>
        <defaultConnector>
            <targetReference>ValvulaImpactoIgualC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>CajaContenci_nEquiposIgualCSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Caja_de_conteci_n_de_equipos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_1_ContadorC1</targetReference>
            </connector>
            <label>Caja Contención Equipos Igual C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existencias_en_TdeGr_ZC_y_Caja_Toma_Mues_Contiene_Valor</name>
        <label>Existencias en TdeGr ZC y Caja Toma Mues Contiene Valor</label>
        <locationX>549</locationX>
        <locationY>657</locationY>
        <defaultConnector>
            <targetReference>Caja_contenedora_de_bombas_Contiene_Valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existencias en TdeGr ZC y Caja Toma Mues Contiene Valor No</defaultConnectorLabel>
        <rules>
            <name>Existencias_en_TdeGr_ZC_y_Caja_Toma_Mues_Contiene_Valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Existencias_en_trampa_de_grasas__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_6</targetReference>
            </connector>
            <label>Existencias en TdeGr ZC y Caja Toma Mues Contiene Valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existencias_en_TdeGr_ZC_y_Caja_Toma_Mues_igual_a_C</name>
        <label>Existencias en TdeGr ZC y Caja Toma Mues igual a C</label>
        <locationX>33</locationX>
        <locationY>787</locationY>
        <defaultConnector>
            <targetReference>Caja_contenedora_de_bombas_igual_a_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existencias en TdeGr ZC y Caja Toma Mues igual a C No</defaultConnectorLabel>
        <rules>
            <name>Existencias_en_TdeGr_ZC_y_Caja_Toma_Mues_igual_a_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Existencias_en_trampa_de_grasas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContaC_6</targetReference>
            </connector>
            <label>Existencias en TdeGr ZC y Caja Toma Mues igual a C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Existencias_en_TdeGr_ZC_y_Caja_Toma_Mues_igual_NA</name>
        <label>Existencias en TdeGr ZC y Caja Toma Mues igual NA</label>
        <locationX>1023</locationX>
        <locationY>795</locationY>
        <defaultConnector>
            <targetReference>Caja_contenedora_de_bombas_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Existencias en TdeGr ZC y Caja Toma Mues igual NA No</defaultConnectorLabel>
        <rules>
            <name>Existencias_en_TdeGr_ZC_y_Caja_Toma_Mues_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Existencias_en_trampa_de_grasas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_6</targetReference>
            </connector>
            <label>Existencias en TdeGr ZC y Caja Toma Mues igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Locativos_zona_de_islas_Decreto_1521_Contiene_Valor</name>
        <label>Locativos zona de islas Decreto 1521 Contiene Valor</label>
        <locationX>561</locationX>
        <locationY>895</locationY>
        <defaultConnector>
            <targetReference>Tr_de_grasas_zona_comb_y_caja_toma_muest_Contiene_Valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Locativos zona de islas Decreto 1521 Contiene Valor No</defaultConnectorLabel>
        <rules>
            <name>Locativos_zona_de_islas_Decreto_1521_Contiene_Valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Locativos_zona_de_islas_Decreto_1521__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_4</targetReference>
            </connector>
            <label>Locativos zona de islas Decreto 1521 Contiene Valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Locativos_Zona_de_Islas_Decreto_1521_igua_a_C</name>
        <label>Locativos Zona de Islas Decreto 1521 igual a C</label>
        <locationX>39</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Tr_Grasas_Zona_Comb_y_Caja_Toma_Mues_igual_a_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Locativos Zona de Islas Decreto 1521 igual a C No</defaultConnectorLabel>
        <rules>
            <name>Locativos_Zona_de_Islas_Decreto_1521_igual_a_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Locativos_zona_de_islas_Decreto_1521__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SumarContadorC4</targetReference>
            </connector>
            <label>Locativos Zona de Islas Decreto 1521 igual a C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Locativos_zona_de_islas_Decreto_1521_igual_NA</name>
        <label>Locativos zona de islas Decreto 1521 igual NA</label>
        <locationX>1025</locationX>
        <locationY>499</locationY>
        <defaultConnector>
            <targetReference>Tr_de_grasas_zona_comb_y_caja_toma_muest_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Locativos zona de islas Decreto 1521 igual NA No</defaultConnectorLabel>
        <rules>
            <name>Locativos_zona_de_islas_Decreto_1521_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Locativos_zona_de_islas_Decreto_1521__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA4</targetReference>
            </connector>
            <label>Locativos zona de islas Decreto 1521 igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manejo_de_residuos_Contiene_Valor</name>
        <label>Manejo de residuos Contiene Valor</label>
        <locationX>552</locationX>
        <locationY>167</locationY>
        <defaultConnector>
            <targetReference>Caja_de_conteci_n_de_equipos_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manejo de residuos Contiene Valor No</defaultConnectorLabel>
        <rules>
            <name>Manejo_de_residuos_Contiene_Valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Manejo_de_residuos__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_10</targetReference>
            </connector>
            <label>Manejo de residuos Contiene Valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manejo_de_residuos_igual_C</name>
        <label>Manejo de residuos igual C</label>
        <locationX>33</locationX>
        <locationY>1307</locationY>
        <defaultConnector>
            <targetReference>Caja_de_conteci_n_de_equipos_con_Valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manejo de residuos igual C No</defaultConnectorLabel>
        <rules>
            <name>Manejo_de_residuos_igual_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Manejo_de_residuos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarC_10</targetReference>
            </connector>
            <label>Manejo de residuos igual C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manejo_de_residuos_igual_NA</name>
        <label>Manejo de residuos igual NA</label>
        <locationX>1025</locationX>
        <locationY>1301</locationY>
        <defaultConnector>
            <targetReference>Asignar_Calificacion_Pilar_Ambiental_Infraestructura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Manejo de residuos igual NA No</defaultConnectorLabel>
        <rules>
            <name>Manejo_de_residuos_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Manejo_de_residuos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_10</targetReference>
            </connector>
            <label>Manejo de residuos igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pozo_de_monitoreo_Contiene_Valor</name>
        <label>Pozo de monitoreo Contiene Valor</label>
        <locationX>547</locationX>
        <locationY>285</locationY>
        <defaultConnector>
            <targetReference>Manejo_de_residuos_Contiene_Valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pozo de monitoreo Contiene Valor No</defaultConnectorLabel>
        <rules>
            <name>Pozo_de_monitoreo_Contiene_Valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Pozo_de_monitoreo__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_9</targetReference>
            </connector>
            <label>Pozo de monitoreo Contiene Valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pozo_de_monitoreo_igual_a_C</name>
        <label>Pozo de monitoreo igual a C</label>
        <locationX>33</locationX>
        <locationY>1157</locationY>
        <defaultConnector>
            <targetReference>Manejo_de_residuos_igual_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pozo de monitoreo igual a C No</defaultConnectorLabel>
        <rules>
            <name>Pozo_de_monitoreo_igual_a_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Pozo_de_monitoreo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContadorC_9</targetReference>
            </connector>
            <label>Pozo de monitoreo igual a C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Pozo_de_monitoreo_igual_NA</name>
        <label>Pozo de monitoreo igual NA</label>
        <locationX>1013</locationX>
        <locationY>1166</locationY>
        <defaultConnector>
            <targetReference>Manejo_de_residuos_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Pozo de monitoreo igual NA No</defaultConnectorLabel>
        <rules>
            <name>Pozo_de_monitoreo_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Pozo_de_monitoreo__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_9</targetReference>
            </connector>
            <label>Pozo de monitoreo igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spill_Container_Contiene_Valor</name>
        <label>Spill Container Contiene Valor</label>
        <locationX>551</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Pozo_de_monitoreo_Contiene_Valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Spill Container Contiene Valor No</defaultConnectorLabel>
        <rules>
            <name>Spill_Container_Contiene_Valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Spill_Container__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_8</targetReference>
            </connector>
            <label>Spill Container Contiene Valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spill_Container_igual_a_C</name>
        <label>Spill Container igual a C</label>
        <locationX>33</locationX>
        <locationY>1033</locationY>
        <defaultConnector>
            <targetReference>Pozo_de_monitoreo_igual_a_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Spill Container igual a C No</defaultConnectorLabel>
        <rules>
            <name>Spill_Container_igual_a_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Spill_Container__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_Contador_8</targetReference>
            </connector>
            <label>Spill Container igual a C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Spill_Container_igual_NA</name>
        <label>Spill Container igual NA</label>
        <locationX>1021</locationX>
        <locationY>1030</locationY>
        <defaultConnector>
            <targetReference>Pozo_de_monitoreo_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Spill Container igual NA No</defaultConnectorLabel>
        <rules>
            <name>Spill_Container_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Spill_Container__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_8</targetReference>
            </connector>
            <label>Spill Container igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tr_de_grasas_zona_comb_y_caja_toma_muest_Contiene_Valor</name>
        <label>Tr de grasas zona comb y caja toma muest Contiene Valor</label>
        <locationX>549</locationX>
        <locationY>787</locationY>
        <defaultConnector>
            <targetReference>Existencias_en_TdeGr_ZC_y_Caja_Toma_Mues_Contiene_Valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tr de grasas zona comb y caja toma muest Contiene Valor No</defaultConnectorLabel>
        <rules>
            <name>Tr_de_grasas_zona_comb_y_caja_toma_muest_Contiene_Valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Trampa_de_grasas_zona_combustibles__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_5</targetReference>
            </connector>
            <label>Tr de grasas zona comb y caja toma muest Contiene Valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tr_de_grasas_zona_comb_y_caja_toma_muest_igual_NA</name>
        <label>Tr de grasas zona comb y caja toma muest igual NA</label>
        <locationX>1027</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Existencias_en_TdeGr_ZC_y_Caja_Toma_Mues_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tr de grasas zona comb y caja toma muest igual NA No</defaultConnectorLabel>
        <rules>
            <name>Tr_de_grasas_zona_comb_y_caja_toma_muest_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Trampa_de_grasas_zona_combustibles__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_5</targetReference>
            </connector>
            <label>Tr de grasas zona comb y caja toma muest igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Tr_Grasas_Zona_Comb_y_Caja_Toma_Mues_igual_a_C</name>
        <label>Tr Grasas Zona Comb y Caja Toma Mues igual a C</label>
        <locationX>43</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>Existencias_en_TdeGr_ZC_y_Caja_Toma_Mues_igual_a_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Tr Grasas Zona Comb y Caja Toma Mues igual a C No</defaultConnectorLabel>
        <rules>
            <name>Tr_Grasas_Zona_Comb_y_Caja_Toma_Mues_igual_a_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Trampa_de_grasas_zona_combustibles__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_Contador_C5</targetReference>
            </connector>
            <label>Tr Grasas Zona Comb y Caja Toma Mues igual a C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valvula_de_impacto_c_Contiene_Valor</name>
        <label>Valvula_de_impacto__c Contiene Valor</label>
        <locationX>573</locationX>
        <locationY>1185</locationY>
        <defaultConnector>
            <targetReference>Break_away_Contiene_Valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valvula_de_impacto__c Contiene Valor No</defaultConnectorLabel>
        <rules>
            <name>Valvula_de_impacto_c_Contiene_Valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Valvula_de_impacto__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_2</targetReference>
            </connector>
            <label>Valvula_de_impacto__c Contiene Valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Valvula_de_impacto_igual_a_NA</name>
        <label>Valvula de impacto igual a NA</label>
        <locationX>1043</locationX>
        <locationY>241</locationY>
        <defaultConnector>
            <targetReference>Break_away_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Valvula de impacto igual a NA No</defaultConnectorLabel>
        <rules>
            <name>Valvula_de_impacto_igual_a_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Valvula_de_impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_2</targetReference>
            </connector>
            <label>Valvula de impacto igual a NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>ValvulaImpactoIgualC</name>
        <label>ValvulaImpactoIgualC</label>
        <locationX>49</locationX>
        <locationY>306</locationY>
        <defaultConnector>
            <targetReference>Break_away_igual_a_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ValvulaImpactoIgualCNo</defaultConnectorLabel>
        <rules>
            <name>ValvulaImpactoIgualCSi</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Valvula_de_impacto__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContadorC2</targetReference>
            </connector>
            <label>ValvulaImpactoIgualCSi</label>
        </rules>
    </decisions>
    <formulas>
        <name>CalificacionPilarAmbientalInfraFormula</name>
        <dataType>Number</dataType>
        <expression>({!ContarC}/({!ContarA}-{!ContarNA}))*5</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calcular  {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calcular Calificación Pilar Ambiental Infraestructura 18</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Ter_BuscarActaEncuestaObjeto</name>
        <label>Buscar Acta Encuesta Objeto</label>
        <locationX>53</locationX>
        <locationY>48</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Caja_de_Contenci_n_de_equipos_igual_C</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdActaEncuesta</elementReference>
            </value>
        </filters>
        <object>Ter_Acta_Encuesta__c</object>
        <outputReference>ActaEncuestaObjeto</outputReference>
        <queriedFields>Caja_de_conteci_n_de_equipos__c</queriedFields>
        <queriedFields>Valvula_de_impacto__c</queriedFields>
        <queriedFields>Break_away__c</queriedFields>
        <queriedFields>Ter_Locativos_zona_de_islas_Decreto_1521__c</queriedFields>
        <queriedFields>Ter_Trampa_de_grasas_zona_combustibles__c</queriedFields>
        <queriedFields>Ter_Existencias_en_trampa_de_grasas__c</queriedFields>
        <queriedFields>Caja_contenedora_de_bombas__c</queriedFields>
        <queriedFields>Spill_Container__c</queriedFields>
        <queriedFields>Pozo_de_monitoreo__c</queriedFields>
        <queriedFields>Manejo_de_residuos__c</queriedFields>
        <queriedFields>Ter_Califi_pilar_ambiental_infraestruct2__c</queriedFields>
        <queriedFields>Ter_Comentarios_pilar_ambiental_Infraest__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Acta_Encuesta_Objeto</name>
        <label>Actualizar Acta Encuesta Objeto</label>
        <locationX>1384</locationX>
        <locationY>1419</locationY>
        <inputReference>ActaEncuestaObjeto</inputReference>
    </recordUpdates>
    <startElementReference>Ter_BuscarActaEncuestaObjeto</startElementReference>
    <variables>
        <name>ActaEncuestaObjeto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ter_Acta_Encuesta__c</objectType>
    </variables>
    <variables>
        <name>ContarA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContarC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContarNA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IdActaEncuesta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
