src/flows/Ter_CalcularCalificacionPilarSeguridadInfraestructura-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Asignar_Calificaci_n_Pilar_Seguridad_Infraestructura</name>
        <label>Asignar Calificación Pilar Seguridad Infraestructura</label>
        <locationX>889</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>ActaEncuestaObjeto.Ter_Calif_pilar_Seguridad_infraestruc2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CalificacionPilarSeguridadInfraestructuraFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Actualizar_Acta_Encuesta</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_1</name>
        <label>Sumar ContarA 1</label>
        <locationX>621</locationX>
        <locationY>1097</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extintores_con_valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_2</name>
        <label>Sumar ContarA 2</label>
        <locationX>619</locationX>
        <locationY>945</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parada_de_emergencia_con_valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_3</name>
        <label>Sumar ContarA 3</label>
        <locationX>617</locationX>
        <locationY>825</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Instalaciones_El_ctricas_con_valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_4</name>
        <label>Sumar ContarA 4</label>
        <locationX>619</locationX>
        <locationY>709</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Elementos_puedan_caer_del_canopy_con_valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_5</name>
        <label>Sumar ContarA 5</label>
        <locationX>611</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Puesta_a_Tierra_con_valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_6</name>
        <label>Sumar ContarA 6</label>
        <locationX>615</locationX>
        <locationY>474</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cables_sueltos_con_valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_7</name>
        <label>Sumar ContarA 7</label>
        <locationX>609</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Elementos_que_puedan_caer_con_valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarA_8</name>
        <label>Sumar ContarA 8</label>
        <locationX>617</locationX>
        <locationY>214</locationY>
        <assignmentItems>
            <assignToReference>ContarA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Canal_perimetral_zona_islas_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarC1</name>
        <label>Sumar ContarC1</label>
        <locationX>253</locationX>
        <locationY>167</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extintores_igual_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarC_2</name>
        <label>Sumar ContarC 2</label>
        <locationX>261</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parada_de_emergencia_igual_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarC_3</name>
        <label>Sumar ContarC 3</label>
        <locationX>259</locationX>
        <locationY>405</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Instalaciones_el_ctricas_igual_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarC_4</name>
        <label>Sumar ContarC 4</label>
        <locationX>265</locationX>
        <locationY>537</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Elementos_puedan_caer_del_canopy_igual_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarC_5</name>
        <label>Sumar ContarC 5</label>
        <locationX>259</locationX>
        <locationY>663</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Puesta_a_tierra_igual_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarC_6</name>
        <label>Sumar ContarC 6</label>
        <locationX>259</locationX>
        <locationY>787</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cables_sueltos_igual_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarC_7</name>
        <label>Sumar ContarC 7</label>
        <locationX>261</locationX>
        <locationY>903</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Elementos_que_puedan_caer_igual_C</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarC_8</name>
        <label>Sumar ContarC 8</label>
        <locationX>255</locationX>
        <locationY>1023</locationY>
        <assignmentItems>
            <assignToReference>ContarC</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Canal_perimetral_zona_islas_con_valor</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_1</name>
        <label>Sumar ContarNA 1</label>
        <locationX>975</locationX>
        <locationY>141</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extintores_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_2</name>
        <label>Sumar ContarNA 2</label>
        <locationX>975</locationX>
        <locationY>289</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Parada_de_emergencia_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_3</name>
        <label>Sumar ContarNA 3</label>
        <locationX>979</locationX>
        <locationY>420</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Instalaciones_El_ctricas_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_4</name>
        <label>Sumar ContarNA 4</label>
        <locationX>979</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Elementos_puedan_caer_del_canopy_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_5</name>
        <label>Sumar ContarNA 5</label>
        <locationX>975</locationX>
        <locationY>667</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Puesta_a_tierra_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_6</name>
        <label>Sumar ContarNA 6</label>
        <locationX>963</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Cables_sueltos_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_7</name>
        <label>Sumar ContarNA 7</label>
        <locationX>961</locationX>
        <locationY>930</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Elementos_que_puedan_caer_igual_NA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Sumar_ContarNA_8</name>
        <label>Sumar ContarNA 8</label>
        <locationX>961</locationX>
        <locationY>1045</locationY>
        <assignmentItems>
            <assignToReference>ContarNA</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Asignar_Calificaci_n_Pilar_Seguridad_Infraestructura</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Cables_sueltos_con_valor</name>
        <label>Cables sueltos con valor</label>
        <locationX>415</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>Elementos_que_puedan_caer_con_valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cables sueltos con valor No</defaultConnectorLabel>
        <rules>
            <name>Cables_sueltos_con_valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Cables_sueltos__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_7</targetReference>
            </connector>
            <label>Cables sueltos con valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cables_sueltos_igual_C</name>
        <label>Cables sueltos igual C</label>
        <locationX>53</locationX>
        <locationY>907</locationY>
        <defaultConnector>
            <targetReference>Elementos_que_puedan_caer_igual_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cables sueltos igual C No</defaultConnectorLabel>
        <rules>
            <name>Cables_sueltos_igual_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Cables_sueltos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarC_7</targetReference>
            </connector>
            <label>Cables sueltos igual C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Cables_sueltos_igual_NA</name>
        <label>Cables sueltos igual NA</label>
        <locationX>789</locationX>
        <locationY>931</locationY>
        <defaultConnector>
            <targetReference>Elementos_que_puedan_caer_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Cables sueltos igual NA No</defaultConnectorLabel>
        <rules>
            <name>Cables_sueltos_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Cables_sueltos__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_7</targetReference>
            </connector>
            <label>Cables sueltos igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Canal_perimetral_zona_islas_con_valor</name>
        <label>Canal perimetral zona islas con valor</label>
        <locationX>417</locationX>
        <locationY>1093</locationY>
        <defaultConnector>
            <targetReference>Extintores_con_valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Canal perimetral zona islas con valor No</defaultConnectorLabel>
        <rules>
            <name>Canal_perimetral_zona_islas_con_valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Canal_perimetral_zona_islas_segu_inf__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_1</targetReference>
            </connector>
            <label>Canal perimetral zona islas con valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Canal_Perimetral_Zona_Islas_igual_C</name>
        <label>Canal Perimetral Zona Islas igual C</label>
        <locationX>63</locationX>
        <locationY>166</locationY>
        <defaultConnector>
            <targetReference>Extintores_igual_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Resultado predeterminado]</defaultConnectorLabel>
        <rules>
            <name>Canal_Perimetral_Zona_Islas_igual_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Canal_perimetral_zona_islas_segu_inf__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarC1</targetReference>
            </connector>
            <label>Canal Perimetral Zona Islas igual C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Canal_perimetral_zona_islas_igual_NA</name>
        <label>Canal perimetral zona islas igual NA</label>
        <locationX>793</locationX>
        <locationY>140</locationY>
        <defaultConnector>
            <targetReference>Extintores_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Canal perimetral zona islas igual NA No</defaultConnectorLabel>
        <rules>
            <name>Canal_perimetral_zona_islas_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Canal_perimetral_zona_islas_segu_inf__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_1</targetReference>
            </connector>
            <label>Canal perimetral zona islas igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Elementos_puedan_caer_del_canopy_con_valor</name>
        <label>Elementos puedan caer del canopy con valor</label>
        <locationX>417</locationX>
        <locationY>591</locationY>
        <defaultConnector>
            <targetReference>Puesta_a_Tierra_con_valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Elementos puedan caer del canopy con valor No</defaultConnectorLabel>
        <rules>
            <name>Elementos_puedan_caer_del_canopy_con_valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Elementos_puedan_caer_del_canopy__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_5</targetReference>
            </connector>
            <label>Elementos puedan caer del canopy con valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Elementos_puedan_caer_del_canopy_igual_C</name>
        <label>Elementos puedan caer del canopy igual C</label>
        <locationX>53</locationX>
        <locationY>665</locationY>
        <defaultConnector>
            <targetReference>Puesta_a_tierra_igual_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Elementos puedan caer del canopy igual C No</defaultConnectorLabel>
        <rules>
            <name>Elementos_puedan_caer_del_canopy_igual_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Elementos_puedan_caer_del_canopy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarC_5</targetReference>
            </connector>
            <label>Elementos puedan caer del canopy igual C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Elementos_puedan_caer_del_canopy_igual_NA</name>
        <label>Elementos puedan caer del canopy igual NA</label>
        <locationX>795</locationX>
        <locationY>677</locationY>
        <defaultConnector>
            <targetReference>Puesta_a_tierra_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Elementos puedan caer del canopy igual NA No</defaultConnectorLabel>
        <rules>
            <name>Elementos_puedan_caer_del_canopy_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Elementos_puedan_caer_del_canopy__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_5</targetReference>
            </connector>
            <label>Elementos puedan caer del canopy igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Elementos_que_puedan_caer_con_valor</name>
        <label>Elementos que puedan caer con valor</label>
        <locationX>421</locationX>
        <locationY>218</locationY>
        <defaultConnector>
            <targetReference>Canal_perimetral_zona_islas_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Elementos que puedan caer con valor No</defaultConnectorLabel>
        <rules>
            <name>Elementos_que_puedan_caer_con_valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Elementos_puedan_caer_del_canopy__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_8</targetReference>
            </connector>
            <label>Elementos que puedan caer con valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Elementos_que_puedan_caer_igual_C</name>
        <label>Elementos que puedan caer igual C</label>
        <locationX>47</locationX>
        <locationY>1029</locationY>
        <defaultConnector>
            <targetReference>Canal_perimetral_zona_islas_con_valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Elementos que puedan caer igual C No</defaultConnectorLabel>
        <rules>
            <name>Elementos_que_puedan_caer_igual_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Elementos_que_puedan_caer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarC_8</targetReference>
            </connector>
            <label>Elementos que puedan caer igual C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Elementos_que_puedan_caer_igual_NA</name>
        <label>Elementos que puedan caer igual NA</label>
        <locationX>789</locationX>
        <locationY>1049</locationY>
        <defaultConnector>
            <targetReference>Asignar_Calificaci_n_Pilar_Seguridad_Infraestructura</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Elementos que puedan caer igual NA No</defaultConnectorLabel>
        <rules>
            <name>Elementos_que_puedan_caer_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Elementos_que_puedan_caer__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_8</targetReference>
            </connector>
            <label>Elementos que puedan caer igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Extintores_con_valor</name>
        <label>Extintores con valor</label>
        <locationX>419</locationX>
        <locationY>949</locationY>
        <defaultConnector>
            <targetReference>Parada_de_emergencia_con_valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Extintores con valor No</defaultConnectorLabel>
        <rules>
            <name>Extintores_con_valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Extintores_zona_des__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_2</targetReference>
            </connector>
            <label>Extintores con valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Extintores_igual_C</name>
        <label>Extintores igual C</label>
        <locationX>61</locationX>
        <locationY>297</locationY>
        <defaultConnector>
            <targetReference>Parada_de_emergencia_igual_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Extintores igual C No</defaultConnectorLabel>
        <rules>
            <name>Extintores_igual_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Extintores_zona_des__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarC_2</targetReference>
            </connector>
            <label>Extintores igual C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Extintores_igual_NA</name>
        <label>Extintores igual NA</label>
        <locationX>793</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Parada_de_emergencia_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Extintores igual NA No</defaultConnectorLabel>
        <rules>
            <name>Extintores_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Ter_Extintores_zona_des__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_2</targetReference>
            </connector>
            <label>Extintores igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Instalaciones_El_ctricas_con_valor</name>
        <label>Instalaciones Eléctricas con valor</label>
        <locationX>415</locationX>
        <locationY>711</locationY>
        <defaultConnector>
            <targetReference>Elementos_puedan_caer_del_canopy_con_valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Instalaciones Eléctricas con valor No</defaultConnectorLabel>
        <rules>
            <name>Instalaciones_El_ctricas_con_valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Instalaciones_el_ctricas__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_4</targetReference>
            </connector>
            <label>Instalaciones Eléctricas con valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Instalaciones_el_ctricas_igual_C</name>
        <label>Instalaciones eléctricas igual C</label>
        <locationX>55</locationX>
        <locationY>541</locationY>
        <defaultConnector>
            <targetReference>Elementos_puedan_caer_del_canopy_igual_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Instalaciones eléctricas igual C No</defaultConnectorLabel>
        <rules>
            <name>Instalaciones_el_ctricas_igual_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Instalaciones_el_ctricas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarC_4</targetReference>
            </connector>
            <label>Instalaciones eléctricas igual C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Instalaciones_El_ctricas_igual_NA</name>
        <label>Instalaciones Eléctricas igual NA</label>
        <locationX>799</locationX>
        <locationY>557</locationY>
        <defaultConnector>
            <targetReference>Elementos_puedan_caer_del_canopy_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Instalaciones Eléctricas igual NA No</defaultConnectorLabel>
        <rules>
            <name>Instalaciones_El_ctricas_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Instalaciones_el_ctricas__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_4</targetReference>
            </connector>
            <label>Instalaciones Eléctricas igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parada_de_emergencia_con_valor</name>
        <label>Parada de emergencia con valor</label>
        <locationX>417</locationX>
        <locationY>825</locationY>
        <defaultConnector>
            <targetReference>Instalaciones_El_ctricas_con_valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parada de emergencia con valor No</defaultConnectorLabel>
        <rules>
            <name>Parada_de_emergencia_con_valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Parada_de_emergencia__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_3</targetReference>
            </connector>
            <label>Parada de emergencia con valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parada_de_emergencia_igual_C</name>
        <label>Parada de emergencia igual C</label>
        <locationX>59</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>Instalaciones_el_ctricas_igual_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parada de emergencia igual C No</defaultConnectorLabel>
        <rules>
            <name>Parada_de_emergencia_igual_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Parada_de_emergencia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarC_3</targetReference>
            </connector>
            <label>Parada de emergencia igual C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Parada_de_emergencia_igual_NA</name>
        <label>Parada de emergencia igual NA</label>
        <locationX>795</locationX>
        <locationY>427</locationY>
        <defaultConnector>
            <targetReference>Instalaciones_El_ctricas_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Parada de emergencia igual NA No</defaultConnectorLabel>
        <rules>
            <name>Parada_de_emergencia_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Parada_de_emergencia__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_3</targetReference>
            </connector>
            <label>Parada de emergencia igual NA Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Puesta_a_Tierra_con_valor</name>
        <label>Puesta a Tierra con valor</label>
        <locationX>415</locationX>
        <locationY>471</locationY>
        <defaultConnector>
            <targetReference>Cables_sueltos_con_valor</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Puesta a Tierra con valor No</defaultConnectorLabel>
        <rules>
            <name>Puesta_a_Tierra_con_valor_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Puesta_a_tierra__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarA_6</targetReference>
            </connector>
            <label>Puesta a Tierra con valor Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Puesta_a_tierra_igual_C</name>
        <label>Puesta a tierra igual C</label>
        <locationX>55</locationX>
        <locationY>789</locationY>
        <defaultConnector>
            <targetReference>Cables_sueltos_igual_C</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Puesta a tierra igual C No</defaultConnectorLabel>
        <rules>
            <name>Puesta_a_tierra_igual_C_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Puesta_a_tierra__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cumple</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarC_6</targetReference>
            </connector>
            <label>Puesta a tierra igual C Si</label>
        </rules>
    </decisions>
    <decisions>
        <name>Puesta_a_tierra_igual_NA</name>
        <label>Puesta a tierra igual NA</label>
        <locationX>787</locationX>
        <locationY>801</locationY>
        <defaultConnector>
            <targetReference>Cables_sueltos_igual_NA</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Puesta a tierra igual NA No</defaultConnectorLabel>
        <rules>
            <name>Puesta_a_tierra_igual_NA_Si</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ActaEncuestaObjeto.Puesta_a_tierra__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>No Aplica</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sumar_ContarNA_6</targetReference>
            </connector>
            <label>Puesta a tierra igual NA Si</label>
        </rules>
    </decisions>
    <description>Calcula la Calificación del Pilar Seguridad Infraestructura en una Acta de Gestión Ambiental</description>
    <formulas>
        <name>CalificacionPilarSeguridadInfraestructuraFormula</name>
        <dataType>Number</dataType>
        <expression>({!ContarC}/({!ContarA}-{!ContarNA}))*5</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Calcular Calificación Pilar Seguridad Infraestructura {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Calcular Calificación Pilar Seguridad Infraestructura 1</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Buscar_Acta_Encuesta</name>
        <label>Buscar Acta Encuesta</label>
        <locationX>61</locationX>
        <locationY>47</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Canal_Perimetral_Zona_Islas_igual_C</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdActaEncuesta</elementReference>
            </value>
        </filters>
        <object>Ter_Acta_Encuesta__c</object>
        <outputReference>ActaEncuestaObjeto</outputReference>
        <queriedFields>Ter_Canal_perimetral_zona_islas_segu_inf__c</queriedFields>
        <queriedFields>Ter_Extintores_zona_des__c</queriedFields>
        <queriedFields>Parada_de_emergencia__c</queriedFields>
        <queriedFields>Instalaciones_el_ctricas__c</queriedFields>
        <queriedFields>Elementos_puedan_caer_del_canopy__c</queriedFields>
        <queriedFields>Puesta_a_tierra__c</queriedFields>
        <queriedFields>Cables_sueltos__c</queriedFields>
        <queriedFields>Elementos_que_puedan_caer__c</queriedFields>
        <queriedFields>Ter_Comentarios_Pilar_Seguridad_infra__c</queriedFields>
        <queriedFields>Ter_Calif_pilar_Seguridad_infraestruc2__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Actualizar_Acta_Encuesta</name>
        <label>Actualizar Acta Encuesta</label>
        <locationX>1109</locationX>
        <locationY>1161</locationY>
        <inputReference>ActaEncuestaObjeto</inputReference>
    </recordUpdates>
    <startElementReference>Buscar_Acta_Encuesta</startElementReference>
    <variables>
        <name>ActaEncuestaObjeto</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Ter_Acta_Encuesta__c</objectType>
    </variables>
    <variables>
        <name>ContarA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContarC</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>ContarNA</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>IdActaEncuesta</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
